[2020-10-07 14:11] kevinashworth opened #2640 "query results are undefined during loading (due to breaking change in @apollo/client v3)"
There was an intentional breaking change in Apollo Client 3.0.0.

**When refetching or when using loadMore, `results` and `totalCount` revert temporarily to `undefined`.**

For in-depth information and debate, see threads like
- https://github.com/apollographql/apollo-client/blob/46706b53cd36a073800e9abbd4788d0b72c0dab2/CHANGELOG.md#react,
- https://github.com/apollographql/apollo-client/issues/70

[2020-10-07 15:18] ErikDakoda commented on #2640
Thank you for bringing this to our attention. I say we upgrade to `@apollo/client@3.3.0-beta.6` and try the suggested change to `multi2.js`. I would be happy to look at `multi.js` as well.

[2020-10-07 17:10] kevinashworth commented on #2640
Seems [`beta.10` is latest](https://github.com/apollographql/apollo-client/releases); should work, too. And is there a better variable name than 'existingData'. Probably, I didn't think about that very long! Anyway, my two-repo install seems to be working fine with these two changes.

[2020-10-07 17:30] eric-burel commented on #2640
If that's just a matter of waiting Apollo to update you can probably quickfix in your codebase and let them fix it. Is there an action required from Vulcan in the long run?

[2020-10-07 17:52] kevinashworth commented on #2640
The Apollo breaking change is intentional and probably won't be fixed, in the sense of reverted to previous behavior, so I think Vulcan needs to change its codebase. I do not yet know if the suggested fix from Apollo comments (`data ?? previousData`) is the change for Vulcan to make in the long run, however.

[2020-10-08 07:21] eric-burel commented on #2640
Ok makes sense, I'll check that. In the meantime you can implement the "data/previousData" stuff locally with `useState`.
I'll do a big pass on all tickets when the NPM version is a bit more advanced (it is easier to test so I am more productive than with Meteor).

[2020-10-08 13:29] ErikDakoda commented on #2640
@eric-burel I am sorry, maybe I misunderstand what you are suggesting, but that would require changes in 30+ components in my own codebase and would be a big setback to productivity.

[2020-10-08 14:19] eric-burel commented on #2640
Yeah makes sense indeed. I would be happy to merge the proposed change asap, it sounds relevant to me.

[2020-10-08 17:58] kevinashworth commented on #2640
What if we create a new setting `acceptPossiblyStaleDataFromApollo`? It defaults to `true` so that nobody has to set it unless they know the complexities of this issue. It tells multi and multi2 (and perhaps others) to use `data ?? previousData` if the setting is `true`.

[2020-10-09 06:14] eric-burel commented on #2640
`results` is a Vulcan specific shortcut (btw in NPM version I renamed it `documents` btw for consistencies with mutations) so we are free to implement whatever default behaviour we want, no need for an option, and I think what you proposed is the best approach as it prevents a breaking change in Vulcan.
People can still access the default `data` object from Apollo if they want the default behaviou

[2020-10-22 21:52] Whizkevina commented on #1854
Hello!

Anyone to help me with the solution or how to fix this...
`=> Started proxy.
=> Errors prevented startup:

   While selecting package versions:
   error: Conflict: Constraint vulcan:lib@=1.16.0 is not
   satisfied by vulcan:lib 1.3.2.
   Constraints on package "vulcan:lib":
   * vulcan:lib@=1.16.0 <- vulcan:core 1.16.0
   * vulcan:lib@=1.16.0 <- vulcan:users 1.16.0 <- vulcan:core
   1.16.0

[2020-10-29 13:46] #2318 closed

[2020-10-29 13:47] ErikDakoda commented on #2318
We will soon resolve this using Apollo local state.

[2020-11-04 09:34] eric-burel opened #2656 "Migrate cache to Apollo v3"
**Is your feature request related to a problem? Please describe.**
We need to update Apollo client cache system to v3. The problem is that there is a breaking change, there is no fragment matcher anymore: https://www.apollographql.com/docs/react/migrating/apollo-client-3-migration/#breaking-cache-changes

End user must be able to provide "possibleTypes" instead.

Also, updating the cache directly

[2020-11-05 14:04] ErikDakoda opened #2657 "Renaming Material UI base form controls"
I am going to rename components in `vulcan-ui-material/lib/components/forms/base-controls/` because their names conflict with the style sheet names (used for [Global theme overrides](https://material-ui.com/customization/components/#global-theme-override)) of some core MUI components - for example `MuiInput`.

These components are actually not registered with `registerComponent`, only exported. Th

[2020-11-05 14:06] ErikDakoda commented on #2657
Hi @eric-burel @yairtal I would be interested in your feedback.

[2020-11-05 17:12] eric-burel commented on #2657
Ping @EloyID
For me no problem at all conceptually, but please just document this in the MIGRATION.md doc if possible as it is a breaking change.

[2020-11-06 08:15] EloyID commented on #2657
HI!
For me is extrange because there is a MUI element called ButtonBase https://material-ui.com/api/button-base/ and the base means it almost contains no UI, only the functions.
Maybe sth like ~Control ~MuiInput ~FormInput?
Anyways ~Base is ok, but I think RequiredIndicator and FormHelper should also finish in ~Base, if theres no special difference with the other components

[2020-11-06 13:15] ErikDakoda commented on #2657
Hi @EloyID! Thanks for the feedback! Let me explain my logic. The components I am proposing to rename in `/forms/base-controls/` to `~Base` all have form controls in `/forms/controls/` that are based on them. For example `Email`, `Password`, and `Url` are all based on `MuiInput` (which would be renamed to `InputBase`).

In my mind `EndAdornment`, `FormControl`, `FormHelper`, `RequiredIndicator`, `

[2020-11-06 13:16] ErikDakoda commented on #2657
One more thing we may want to do is to register all of these components with registerComponent (instead of using `import`) so that they can be more easily overridden in each developer's project.

[2020-11-06 13:47] eric-burel commented on #2657
@ErikDakoda We are more taking the direction of going backward on this, because that's make them very very difficult to maintain, it creates unseen dependencies based on name etc.

I would except developer with actual custom need to maintain a fork, that's less magic but in the end maybe as efficient.

You might want to check this: https://github.com/VulcanJS/vulcan-next/issues/3
I am trying to fi

[2020-11-06 14:14] ErikDakoda commented on #2657
@eric-burel It is a good idea to test new and more efficient patterns for Vulcan, and once a workable solution is implemented, tested and documented, to roll it out to the community. In the meantime, though, we have existing apps with tens of thousands of lines of code using current patterns that drew us to Vulcan in the first place. I think it's legitimate to make improvements to existing code us

[2020-11-06 14:40] eric-burel commented on #2549
Now tracked on https://github.com/VulcanJS/vulcan-npm/issues/17

[2020-11-06 14:40] #2549 closed

[2020-11-06 14:41] eric-burel commented on #2657
Yeah of course, feel free to apply any modification because in the end you've probably got one of the biggest Vulcan Material UI app currently active, alongside Live for Good. You can reach Eloy directly to discuss that.

I've found back the actual ticket I wanted to share: https://github.com/VulcanJS/Vulcan/issues/2549
I can't find back the migration advices though...

[2020-11-06 14:49] EloyID commented on #2657
I prefer Form since we already know they are controls (inputs) but we want to know that we override them for the SmartForm

I'm really not an expert about the idea of import/registerComponent, but an idea would be
- While using Components.SmartForm, we can count on replaceComponent to override the formcomponents
- In the future we can create a pattern with a config function to override the compone

[2020-11-06 14:54] ErikDakoda commented on #2657
Thank you for the feedback, guys, I will move forward with the renaming using the `Form~` pattern. I won't add `registerComponents` for those components because I don't really need it, and it sounds like you guys don't either.

[2020-11-06 14:56] ErikDakoda commented on #2657
@eric-burel I have seen "Magical replacement of components" before - but I will re-read it to better understand where you are going with `vulcan-npm`.

[2020-11-10 14:25] AaronWatson2975 commented on #2640
Hey all,

  I was just wondering if you solved this, and if you did, what implementation did you use?  

We ran into the same issue and luckily we already had a custom hook `useSafeQuery` we were using for queries that throws errors for our error boundaries.  Since every one of our queries was already using this we created a custom hook to persist the data and implemented that in our existing hook

[2020-11-18 15:30] EloyID opened #2661 "Cannot use SmartForm for creating new documents SmartForm.submitForm"
**Describe the bug**
When trying to use à SmartForm to create a document of any collection I get a graphql error

TypeError: Cannot read property 'error' of undefined
at SmartForm.submitForm (Form.jsx:1022)

**To Reproduce**
Try to use SmartForm to create new document

**Expected behavior**
No error

**Device (if applicable):**
 - OS: Ubuntu 16.04

**Additional context**
I have the latest version

[2020-11-22 20:48] Apollinaire opened #2664 "Smartform shows delete button regardless of collection.permissions.canDelete"
**Describe the bug**

SmartForm doesn't check the new API collection..permissions.canDelete to tell if it's possible to delete a document, and shows the delete button.

**To Reproduce**
create a collection with `permissions: { canDelete: [] }`, or without it altogether. Use a smartform to edit a document of that collection, it will show the delete button. If you click it, the server will reject th

[2020-12-02 22:36] ErikDakoda commented on #2638
@eric-burel I just noticed that in `vulcan-lib/lib/server/graphql/typedefs.js` in `String_Selector` and others many of the selector options are commented out. I needed to use `_gt` for a string input parameter, so I uncommented it, and the selector worked just fine, returning documents filtered correctly.

Can you let me know what the status of this is? It actually appears that `_gte` and `_lte` a

[2020-12-03 07:07] eric-burel commented on #2638
Good question, ping @SachaG

I've noticed that but I am not sure why, I have started to convert the whole thing in TS but haven't run much filters yet https://github.com/VulcanJS/vulcan-npm/blob/devel/packages/mongo/mongoParams.ts

[2020-12-03 07:12] eric-burel commented on #2638
They leave here now: https://github.com/VulcanJS/vulcan-npm/blob/devel/packages/graphql/server/defaultSchema.ts

I remember asking the same for Date_selector. I think they indeed just lack testing, if you have unit tests for them then I think we're good activating them.
Let me know because I'll need to reenable them on Vulcan NPM too until we have unified both.

[2020-12-05 00:17] GraemeFulton commented on #2640
I'm using oldschool react classes, so keep the results in component state. Then check and update the results in `componentDidUpdate`:

[code]

[2020-12-13 18:18] fghamsary opened #2669 "RTL support for UI by adding top level class in HTML"
There are many right-to-left languages which need to have both RTL and LTR support for their regions.
Countries like Iran, Persian language is the default language but most of the applications should have both English and Persian UI.
Persian is a right to left language so the UI should be completely inverted, the menus are at right, the text and everything.
In most sites this is done by a top leve

[2020-12-13 20:36] ErikDakoda commented on #2669
It looks pretty easy to add RTL support in Material UI: https://material-ui.com/guides/right-to-left/

[2020-12-13 20:40] fghamsary commented on #2669
Yes, in material it's easy, but not in bootstrap. And it depends on the UI framework you are using.
The reason I added this was for the StateOfJS, as you can see, it adds pretty easy rtl class which you can have the direction in the html class, and then it will become the same for material as well.

[2020-12-14 07:40] eric-burel commented on #2669
@fghamsary Excellent feature! Is this issue closed by your PR, or do you have next step for RTL support?

Ping @EloyID : this is an example of feature that required a change in the way we build the graphQL context (see file updates: https://github.com/VulcanJS/Vulcan/pull/2670/files). We definitely lack the ability to enhance the graphQL context at this point, it would have make it easier to imple

[2020-12-14 08:07] fghamsary commented on #2669
@eric-burel I think that my PR was just a first step, as I've already mentioned.
I don't know the project in complete to let you know if this is a sufficient or not, but in my opinion, I think we should keep this open, just to be on the safe side, until I (or anybody else) can check all the aspects of the project.
It's been only less than a week (well two days) that I've seen this project, and don

[2020-12-18 18:54] kevinashworth commented on #2664
In [Form.jsx](https://github.com/VulcanJS/Vulcan/blob/c1bfcfc779cf1b1aa0c26d0476b4a1b759df7906/packages/vulcan-forms/lib/components/Form.jsx#L1162), there is this conditional:

`this.props.showRemove && this.props.showDelete`

Why does Vulcan have both `showRemove` and `showDelete`, and what is the difference between them?

[2020-12-24 09:32] Apollinaire commented on #2664
There has probably been some prop renaming, and the old prop was kept for backwards compatibility.
The docs only mention showRemove, so I guess it's the one to use now.

[2020-12-31 18:05] kevinashworth commented on #2638
Sacha had previously said it was commented out because it wasn't implemented yet. See https://vulcanjs.slack.com/archives/C02L990AF/p1595281668431400

The minimal change to get `_nin` working for me was only for a string (_id) so just to uncomment https://github.com/VulcanJS/Vulcan/blob/5e14666b30875ba7cdfe53f3392da1bb50972b7f/packages/vulcan-lib/lib/server/graphql/typedefs.js#L65

Seems to me tha

[2021-01-02 15:26] ErikDakoda commented on #2638
Implemented in PR #2672

[2021-01-02 15:26] #2638 closed

[2021-01-08 15:40] EloyID opened #2679 "Add more flexible low level GraphQL checks"
**Is your feature request related to a problem? Please describe.**
I'm creating a multitenancy system for my application
I will tag all my documents with a tenantId (user included) and I want to filter useMulti, useSingle and the queries in general with the tenantId, so I can only see the docs of my client.

**Describe the solution you'd like**
A function or other pattern from vulcan core who let

[2021-01-12 08:32] eric-burel commented on #2679
Hi, I'll update this comment progressively, here are my thoughts:

## Handling "singleton" currentUser in graphql?

How to handle a "singleton" in graphql? For instance, the currentUser will always be THE current user. You don't care about the _id or whatever, because you can have only one current user. However, in my Cypress tests, it messes with caching. For instance, I do 2 queries "getCurrentU

[2021-01-20 19:43] eric-burel opened #2680 "objectSpread2 error after running unit test"
**Describe the bug**
When running unit test, and then running the app, we get:
`Error: Cannot find module '/code/lfg/Vulcan/.meteor/local/build/programs/server/node_modules/@babel/runtime/helpers/objectSpread2'
`
We need to reinstall `meteor npm i @babel/runtime@latest` so the app run again.

**To Reproduce**
On Vulcan devel branch:
 `meteor npm run test-unit`
`meteor npm run start`

**Expected be

[2021-01-22 13:44] ErikDakoda commented on #2680
The same thing happens to me as well when I run unit tests on my own codebase. It is very strange and annoying. I have done some digging in the past and I couldn't find any discussions or solutions online.

I have resolved to not stress about it for now. I have added a script to my `package.json` that I run when I finish a unit testing session:

[code]

[2021-01-22 19:29] EloyID opened #2686 "Nested Schema document update not working"
**Describe the bug**
If I have a Nested Schema using the MuiSelect in a SmartForm it will not change the shown value since the document prop passed to the input does not update.

**To Reproduce**
Steps to reproduce the behavior:
1. Use MaterialUI package
2. Create a nested schema with a input 'select'
3. Try to update the value

**Expected behavior**
The value to change

**Screenshots (if applicab

[2021-01-23 20:34] ErikDakoda commented on #2686
Hi @EloyID! I dug into this and could confirm this bug. I created a PR to fix it - along with a couple of small Form-related issues.

At first I fixed the issue by switching the order of {...props} and {...field} in `FormNestedItem`:

https://github.com/VulcanJS/Vulcan/blob/0c15ba74cf8cd1ca90021c9bdf6c3e252b39f625/packages/vulcan-forms/lib/components/FormNestedItem.jsx#L39

[code]

But I was worri

[2021-01-23 20:49] ErikDakoda commented on #2657
This was implemented in PRs #2665 and #2666

[2021-01-23 20:49] #2657 closed

[2021-01-23 21:57] ErikDakoda commented on #2656
I am seeing a lot of "Invariant Violation" errors from Apollo 3 in the browser console. They are not causing breaking errors, but they are an indication that the Apollo client cache is probably not operating efficiently.

So the point is that we need to move on this sooner rather than later.

In addition, there are other vestiges of Apollo 2 like `apollo-link-state` that we should probably depreca

[2021-01-23 22:08] ErikDakoda opened #2688 "How do we coordinate work among Vulcan contributors?"
I might have time to implement [Migrate cache to Apollo v3](https://github.com/VulcanJS/Vulcan/issues/2656) at some point soon, but if I do start on it, how do I make sure that no-one else is doing the same work?

I suppose I could set myself as an Assignee to that Issue, but is it common practice among contributors to looks through Issues to see if someone else is already tackling something they

[2021-01-25 08:24] eric-burel commented on #2688
Hi,

I think for the Slack is a good place to tell people if you are going to do something, as we check it often, so you can check that there is no duplicate effort. And then you can use a ticket to track progress.

At the moment, there is no strong leadership on Vulcan Meteor from either Sacha or me, as we are both busy and I am way more focused on Next.js. So I think you can do changes you think

[2021-01-25 08:26] eric-burel commented on #2656
Contribution would be muuuch appreciated. If you start something, I would simply suggest releasing a patch version of Vulcan current code before we merge the work, and then release a minor.

It's ok to have breaking change, as long as we rely on semantic versioning. There is also a MIGRATING.md where you can explain breaking changes manually + the automated changelog.

[2021-01-25 09:13] EloyID commented on #2686
Hi I have tried to go deeper in the code to be sure but it will be better if somebody more familiar checks it. I have had a look in the PRs and even if it fixes it for now, I can't understand why it works for normal fields but not for the nested ones. Both fields pass through Form.jsx > createField. So maybe we are having two source of truth what can be a cause of other problems later.

Following

[2021-01-25 17:59] eric-burel commented on #2270
Gave a first shot at this:

- We need Babel processors instead of the Webpack loader we made for Storybook. This is not a huge deal, we simply need to transform "vulcan-loader" and "scrap-meteor-loader" in a Babel function
- There is also this package that could fit: https://www.npmjs.com/package/babel-plugin-replace-imports. It's basically this, it allow to replace import so you can scrap out "me

[2021-01-26 13:42] juliensl commented on #2270
This is a nice move ! I can't wait to see the result :D

[2021-01-26 17:50] Apollinaire commented on #2679
Since @EloyID  asked me to implement this, here's my view on the subject:

Forking Vulcan is not an option, the cost of maintaining an ever-shifting fork is too big, and Vulcan tries to give opinionated defaults but lets the devs inject their logic where they need. The goal we're trying to reach is not too far from what Vulcan offers, so it should be possible to do without forking Vulcan.

Adding

[2021-01-28 15:10] zherar7ordoya commented on #1663
Agree. Maybe I'm going to add this specific request.

[2021-01-29 10:31] eric-burel commented on #2270
I am almost there, with one slight limitation: it work only if you install node_modules with `yarn`. I suspect this issue is related to https://github.com/VulcanJS/Vulcan/issues/2680, basically Meteor is implying an older version of Babel/core-js for some reason.

[2021-01-29 10:47] eric-burel commented on #2270
It seems that we have to avoid to use "Meteor" and "Mongo" as global variables in Vulcan (which are bad practicies anyway), because it doesn't seem doable to define a global mock from Jest in this case (jest globals can't be functions so they are not sufficient), because the packages are imported and do not belong to users code.
I've raised the question [on this SO question related to Meteor and J

[2021-02-01 16:55] eric-burel commented on #2270
Ok I did not succeed with babel-plugin-transform-globals, somehow it isn't applied to the Vulcan install. Best course of action is to remove global "Meteor" and "Mongo" variables from Vulcan and instead import them from "meteor/meteor" explicitely (which is a better practice anyway)

[2021-02-02 10:22] eric-burel commented on #2270
Summary of what I've tempted so far:

[2021-02-02 10:22] #2270 closed

[2021-02-25 09:45] #2664 closed

[2021-03-09 14:46] eric-burel commented on #2680
Still happens after updating to meteor v2

[2021-03-15 13:13] vipinlahoti opened #2698 "useCookies is not a function or its return value is not iterable"
**Describe the bug**
useCookies is not a function or its return value is not iterable

**To Reproduce**
Steps to reproduce the behavior:
fresh pull from 'master' branch and yarn install.

**Device (if applicable):**
 - OS: macOS 10.15.6
 - Browser Chrome
 - Version 89.0.4389.82 (Official Build) (x86_64)

**Additional context**
Error while server-rendering. date: Mon Mar 15 2021 18:38:19 GMT+0530 (

[2021-03-15 14:02] ErikDakoda commented on #2698
It sound like you need to add the `react-cookie` NPM package to your project

[2021-03-15 14:07] eric-burel commented on #2698
Yeah the starter has been updated with this, it's always the reference (there is no known way to keep them in sync sorry, and there were no libraries to do that last time I checked)

[2021-03-15 14:07] #2698 closed

[2021-03-15 21:46] haveaguess commented on #2270
Hi @eric-burel , thanks for this attempt, and sharing your progress. I was just about to start on this journey when I saw your comment in stackoverflow and this backlink. Figured Id see how you were getting on.

Just to understand, is this something we could do with a project that is simpler than what Vulcan is trying to do or is a dead-end even for simpler Meteor apps like ours?

Like you, I'd lo

[2021-03-16 14:01] eric-burel commented on #2270
Hi ! The problem will be even worse in a normal Meteor application, because the difficulty lies in making Meteor core features available with a Webpack build (or to mock them). It's not really a dead-end, this approach has been successful at least for client-side build, but more a lot of trouble for not much added value if you want also Jest for server-side test.

So it's definitely better to use

[2021-03-22 00:54] Neobii commented on #2639
What would you call this new relationship type?

`hasOne` | `hasMany` | `hasMany2`

hasMany2 - this reminds me of withMulti2 which intuitively vulcan devs might thing hasMany2 is a replacement for hasMany.

hasManyForeign like foreign key?

[code]

[2021-03-26 08:02] eric-burel commented on #2625
Closed by #2706

[2021-03-26 08:02] #2625 closed

[2021-03-27 14:54] matiasclapera opened #2707 "I can't run the project Vulcan(Lubuntu)"
paki@lubuntu-paki:~/Vulcan$ meteor run
[[[[[ ~/Vulcan ]]]]]

=> Started proxy.
=> Started MongoDB.
W20210328-19:59:52.511(-3)? (STDERR) /home/paki/.meteor/packages/meteor-tool/.2.1.0.yuair9.drob++os.linux.x86_64+web.browser+web.browser.legacy+web.cordova/mt-os.linux.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:280
W20210328-19:59:52.747(-3)? (STDERR)                         throw(ex)

[2021-03-27 16:04] ErikDakoda commented on #2707
Do you happen to be on Windows 7 or Windows 10?

[2021-03-27 16:45] matiasclapera commented on #2707
yes but in lubuntu I can't, I have the same error

[2021-03-28 23:06] matiasclapera commented on #2707
I have the same error in linux

[2021-03-29 07:40] eric-burel commented on #2707
It seems that the file is called "Random" and not "random"

[2021-03-29 12:24] matiasclapera commented on #2707
greetings Eric!

I followed the steps in the tutorial and I can't run the project https://docs.vulcanjs.org/

regards!

[2021-03-29 12:58] eric-burel commented on #2707
What I find strange is that I see "Vulcan" as the folder name and not "Vulcan Starter", did you clone the starter?

[2021-03-29 13:35] matiasclapera commented on #2707
If I have installed vulkan and vulcan-starter but both projects give an error, I will try the Two-Repo Install (Optional)

[2021-03-30 01:47] matiasclapera commented on #2707
Eric I ran Vulcan-Starter :-1: it does not work but this repo https://github.com/VulcanJS/Vulcan if it works...when I run the project it says **Sorry, we couldn't find what you were looking for.**

paki@lubuntu-paki:~/Vulcan-Starter$ npm start

 ___    ___
 \\\\  ////
  \\\\////    Vulcan.js
   \\\///    The full-stack React+GraphQL framework
    ────

[[[[[ ~/Vulcan-Starter ]]]]]

=> Started prox

[2021-04-05 15:06] webface commented on #2586
@ErikDakoda @eric-burel  Im having the same problem trying to follow the material-ui example docs but...

`W20210405-10:19:33.051(-4)? (STDERR) Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object. You likely forgot to export your component from the file it's defined in, or you might have mixed u

[2021-04-05 19:34] ErikDakoda commented on #2586
Hi @webface it works in my localhost. To help you, I would need to know which version of Vulcan, Vulcan-Starter, vulcan:ui-material you are using, and if the following packages/versions are installed:

[code]

[2021-04-05 20:00] webface commented on #2586
@ErikDakoda Im using those packages @ latest

[2021-04-05 20:08] webface commented on #2586
I created a home component
`import React from 'react';
import { Components, withSingle2, withCurrentUser, registerComponent } from 'meteor/vulcan:core';
import Users from 'meteor/vulcan:users';

const Home =({currentUser})=>{
  return <h1>Home</h1>
}
const options = {
  collection: Users,
  fragmentName: 'UsersCurrent',
};
Home.displayName="Home";
registerComponent('Home',  Home);`

addRoute({ nam

[2021-04-05 20:11] webface commented on #2586
routes.js
`import { addRoute, Components } from 'meteor/vulcan:core';

// Then, we add the component for what we want to add.
import '../components/layout/Header';
import '../components/layout/Layout';
import '../components/layout/SideNavigation';
import '../components/ui/Home';

// Next, we add the name 'movies', the path, which is the root, and the component name 'MovieList'.
addRoute({ name: 'h

[2021-04-05 20:19] webface commented on #2586
@ErikDakoda i updated the post. I am using the latest vulcan. the 2 repo install and I have now used the material ui version you listed. Still get the same result. Im trying to build a material ui project from scratch

[2021-04-05 21:30] ErikDakoda commented on #2586
The sample Header component is so simple - and it only uses other components that are built into `@material-ui/core@4.11.0` and `mdi-material-ui@6.19.0` - so not a lot of things can go wrong if those are installed.

I can't tell you what's going on without seeing all of the code. Is there any way you can share a repository with the code?

[2021-04-05 21:39] webface commented on #2586
@ErikDakoda Im sure im doing something simple wrong

https://github.com/webface/vulcan-logic

package `music-site` I dont even know where to import registerTheme from

[2021-04-05 21:50] webface commented on #2586
Ok I figured out to get the theme from here `import { registerTheme } from 'meteor/vulcan:ui-material';`

[2021-04-05 22:16] webface commented on #2586
Renders with 2 warnings
`Warning: React.createFactory() is deprecated and will be removed in a future major release. Consider using JSX or use React.createElement() directly instead.
=> Meteor server restarted
W20210405-18:11:42.988(-4)? (STDERR) Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: obje

[2021-04-05 22:56] webface commented on #2586
@ErikDakoda I shared the link to the repo, if you could help with this, I'd greatly appreciate it

[2021-04-06 03:20] webface commented on #2586
This is the second part of the error. It looks like something to do with SSR. req.url resolves to an object in `vulcan:lib/lib/server/apollo-ssr/renderPage.js:61:7`

`Error while server-rendering. date: Mon Apr 05 2021 22:59:37 GMT-0400 (Eastern Daylight Time) url: [object Object]
W20210405-22:59:37.893(-4)? (STDERR) Error: Element type is invalid: expected a string (for built-in components) or a

[2021-04-06 03:39] webface commented on #2586
Also when I enable backoffice and view it I. get the same error but also for the SSR and req.url is an object
`=> Started proxy.
=> Started MongoDB.
W20210405-23:35:31.317(-4)? (STDERR) Warning: React.createFactory() is deprecated and will be removed in a future major release. Consider using JSX or use React.createElement() directly instead.
=> Started your app.

=> App running at: http://localhos

[2021-04-06 08:39] EloyID opened #2708 "collection.addField not working if schema is simpl-schema"
**Describe the bug**
If I create a collection using a schema which is instance of simpl-schema and then I use addField, it won't appear in GraphQL

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection using simpl-schema in the schema
2. Use collection.addField
3. Try to query/filter by this field

**Expected behavior**
The field to exist

[2021-04-06 12:21] ErikDakoda commented on #2708
Try this:

[code]

[2021-04-06 13:11] EloyID commented on #2708
It's already in the addField function and it used to work in the release of november
https://github.com/VulcanJS/Vulcan/blob/f5012d16ab272c753efbc159ca44fb829f362f46/packages/vulcan-lib/lib/modules/collections.js#L76-L89

[2021-04-06 14:07] #2661 closed

[2021-04-06 14:07] #2679 closed

[2021-04-06 14:07] #2686 closed

[2021-04-06 14:23] ErikDakoda commented on #2708
@EloyID there is a bug in `addField` that I attempted to fix with a PR but the change was reverted by @SachaG. Here is our discussion about it: https://github.com/VulcanJS/Vulcan/pull/2648 . My solution above is the workaround I am using.

[2021-04-06 14:25] ErikDakoda commented on #2586
When I add the following to `settings.json` everything works:

[code]

So this is an issue with SSR. I have had so much frustration with SSR that now I have it turned off. Maybe someone who successfully uses SSR can help you.

[2021-04-06 14:49] eric-burel commented on #2586
@webface If you are creating a new application, you might prefer using Vulcan Next instead of the "legacy" Vulcan Meteor project which is less active, and in particular often generating issue during SSR because of Meteor not being able to import some React components server-side (this very issue pushed us to accelerate the transition out of Meteor).

[2021-04-06 15:52] webface commented on #2586
@ErikDakoda @eric-burel  makes sense. thanks for this. Does Vulcan Next  have all the cool packages of Vulcan Meteor? I spent the whole holidays on Vulcan Meteor

[2021-04-06 16:17] eric-burel commented on #2586
Most of them for the backend at this point, basically you can reuse Vulcan schemas to spawn a graphql API + mongo collection, and you have React hooks as well like "useMulti".
The transition is still ongoing, so you'll lack the SmartForm and Datatable at this point.

[2021-04-06 16:31] webface commented on #2586
@eric-burel I'll check it out. Question now is @ErikDakoda  does Vulcan Meteor support SSR as long as youre using bootstrap? I can live with that

[2021-04-07 12:28] ErikDakoda commented on #2586
I don't have any experience with bootstrap on Vulcan.

[2021-04-07 13:23] webface commented on #2586
I tried bootstrap. I had similar errors till I set ssr to true then it worked. Maybe I just needed to set ssr to true for the mat hi also. I'll try after work

[2021-04-09 04:51] webface opened #2709 "Relations hasMany bug."
**Describe the bug**
After completing the get started tutorial, I decided to build a more involved example where I have a collection related to another collection. I created an Albums and a Genres Schema. I can crud the albums till I try to define the related field then the collection it cant find genres of undefined.

[code]
genresIds: makeAutocomplete(
    {
      type: Array,
      arrayItem: {

[2021-04-09 05:28] webface commented on #2709
removed nodes modules and reinstalled with npm... too many broken dependencies for it to run
removed node_modules and yarn installed. Back at square one

[code]

[2021-04-09 07:11] eric-burel commented on #2709
Hi, why your Meteor app is located into MAMP?
Anyway here the "Genre" collection doesn't seem to exist. You've shown the "Albums" schema but what about "Genre"?

[2021-04-09 07:11] eric-burel commented on #2709
Closing because it's more an issue in your app than a bug but we can keep discussing

[2021-04-09 07:11] #2709 closed

[2021-04-09 11:30] webface commented on #2709
@eric-burel  AlbumSchema.js
[code]

GenresSchema.js

[code]
My PROJECTS are in MAMP folder cos I used to develop LAMP and never bothered to relocate my projects on my computer when I started MERN.

Also I have Fragments defined.

[code]
As you can see I have the collections defined

[2021-04-09 12:09] webface commented on #2709
@eric-burel beat my head on this all night. I have attached the repo if you want to take a peek. https://github.com/webface/vulcan-logic

I tried to follow patterns in https://github.com/SachaG/SidebarVulcan/blob/master/packages/sidebar2020/lib/modules/posts/schema.js for lack of better examples but no dice.

[2021-04-09 12:56] eric-burel commented on #2709
I I can't run it, I am not on mly Linux, but can you try reverse the lines here: https://github1s.com/webface/vulcan-logic/blob/HEAD/packages/music-site/lib/modules/index.js?
Album is loaded before Genre maybe that's the issue

[2021-04-09 13:05] webface commented on #2709
@eric-burel I tried that
[code]

now I just get a consistent error but the crashing stopped
[code]

[2021-04-09 13:09] eric-burel commented on #2709
Seems like an empty document or whatever, you need to dig that but it seems that the graphql API built ok.
Note that we try to deprecate the pattern based on strings to avoid such issues in the future, so you don't accidentally reference stuffs that you didn't import yet.

[2021-04-09 13:14] webface commented on #2709
Could be something missing on the server setup. Here is the console.log from localhost:3000/albums

[code]

[2021-04-09 13:15] eric-burel commented on #2709
Yes you have server/client discrepancies but I cannot tell which just from this log, you need to check the server terminal

[2021-04-09 13:18] webface commented on #2709
Also the errors are only thrown on the /albums route. getting warm
[code]

[2021-04-09 20:33] webface commented on #2709
turns out `genresIds` should be `genres`

[code]

[2021-06-04 10:04] IBRAHIMDANS opened #2719 "Duplicate Item with withMulti"
**Describe the bug**
Hola,
I have a problem with withMulti2 when I make a request by limiting.
I have data which is duplicated in result
node  v14.16.1
vulcan

To Reproduce
Steps to reproduce the behavior:

1 -  withMulti2(
...
  limit: 3)([component])

2 - in my component call loadMoreInc() after `result` content duplicated item

[2021-06-04 14:40] eric-burel commented on #2719
According to the code from your PR, this is a backend issue => the multi resolver is sending the same item twice, as if the limit was taken into account incorectly

[2021-06-14 08:11] EloyID opened #2720 "Add className to FormComponentLoader"
**Is your feature request related to a problem? Please describe.**
When I want to use inputClassname with a formcomponent that has to query the options, the FormComponentLoader wraps the element with inputClassname and, e.g., the halfWidthLeft has no effect
https://github.com/VulcanJS/Vulcan/blob/devel/packages/vulcan-forms/lib/components/FormComponentLoader.jsx

**Describe the solution you'd like

[2021-06-17 12:10] GraemeFulton commented on #2719
`useMulti2` in meteor seems to work for me, but useMulti from vulcanjs/hooks is not getting the filter after loadmore.

I am filtering documents by `userId`, and I can see that in the first query (before loadmore), all userId input is present:

<img width="812" alt="Screenshot 2021-06-17 at 13 08 35" src="https://user-images.githubusercontent.com/4354786/122393809-2ee3d480-cf6d-11eb-8745-c653ecc1b

[2021-06-18 15:48] eric-burel commented on #2719
@GraemeFulton will be fixed by https://github.com/VulcanJS/vulcan-npm/pull/56/files

@IBRAHIMDANS the issue is that variables are not correclty merged in the hook, so in the loadMore/loadMoreInc calls, it indeed loses the filter. Instead of using "uniq", the solution is to fix the variable merging pattern, you can take a look at the PR: https://github.com/VulcanJS/vulcan-npm/pull/56/files

To fix

[2021-06-21 12:25] eric-burel commented on #2557
New model in Vulcan NPM/Vulcan Next: we define Models, that are kind of lighter Collection. Models have a schema, but do not force you to have a corresponding mongo database or even to use graphql => you can spawn models on the fly without problem.

Passing typeName would be similar to working by reference : you need to maintain an object that maps the reference to their actual collection/model. W

[2021-06-21 12:25] #2557 closed

[2021-06-23 10:03] eric-burel commented on #2707
it should be fixed in latest vulcan starter

[2021-06-23 10:03] #2707 closed

[2021-06-23 10:05] eric-burel commented on #2596
I think I've reproduced that in Vulcan Meteor Next Transition, see sample settings: https://github.com/VulcanJS/Vulcan-Starter/blob/33a23bc3c22b6d5d73071d0b7f1c863f01149cc5/sample_settings.json
To be investigated by trying to query the Meteor app from itself, eg via graphql playground.

[2021-08-11 19:30] arctop-sk opened #2727 "Attempting to implement multiple interfaces on a type causes an error"
**Describe the bug**
A clear and concise description of what the bug is.
Implementing multiple interfaces on a type in a collection is broken, due to wrong delimiter between interfaces.

**To Reproduce**
Steps to reproduce the behavior:
add 2 interfaces to a collection, build fails

**Expected behavior**
type is built correctly

Source of the issue is likely here:

export const mainTypeTemplate =

[2021-08-12 09:19] eric-burel commented on #2727
Yes you're right, could you please try to open a PR so that I can fix this as soon as possible?

[2021-08-12 09:22] eric-burel commented on #2727
Note that it seems that comma used to work in earlier version of graphql, but the & is the official syntax now

[2021-08-12 18:33] arctop-sk commented on #2727
https://github.com/VulcanJS/Vulcan/pull/2728

[2021-08-16 16:20] #2727 closed

[2021-09-21 15:08] imktho commented on #2531
Hi there! Do you mind if I take a look at this issue?

[2021-09-21 15:12] eric-burel commented on #2531
No problem! Vulcan Meteor development is not active, we are currently focused on the Next.js version

[2021-10-04 05:25] chrysillala commented on #2487
HI @eric-burel , I would like to work on this issue. Thanks!

[2021-10-04 07:16] eric-burel commented on #2487
Yep feel free to work on it, but bear in mind that we are releasing [Vulcan Next](https://github.com/VulcanJS/vulcan-next), an updated version of Vulcan based on Next.js. So the Meteor version is considered legacy, and mostly maintained by people that were already using it for their app.

[2021-10-04 15:01] chrysillala commented on #2487
@eric-burel please check my PR here https://github.com/VulcanJS/Vulcan/pull/2731 and kindly let me know your feedback :) thanks!

[2021-10-05 06:50] #2487 closed

[2022-01-30 21:14] bmariem opened #2737 "Error: Cannot find module '@graphql-tools/utils'"
**Describe the bug**
![image](https://user-images.githubusercontent.com/20027819/151717873-eb1adf20-aa88-4485-a1f9-514a4fac40d8.png)

**To Reproduce**
1. Fork the project
2. change the setting file name to settings.json
3. run `meteor npm install` then `meteor npm start`

**Expected behavior**
running the project on localhost

**Screenshots (if applicable)**
trying to fix this issue with installin

[2022-02-09 09:35] trusktr commented on #2580
@benjamn Would you graciously take a look at this long-standing issue with Meteor module loader?

[2022-02-09 09:44] eric-burel commented on #2580
Just for the record we have since migrated toward Next.js (https://vulcan-next.vercel.app/) and we have recently managed to mimick Meteor package architecture with NPM packages and Tsup (https://github.com/VulcanJS/npm-the-right-way/tree/main/my-package-tsup) but maybe this ticket could help detecting/fixing issues in Meteor. Let me know if you need help to reproduce.

[2022-02-09 10:10] trusktr commented on #2580
Opened a new Meteor issue with reproduction: https://github.com/meteor/meteor/issues/11900

[2022-02-09 21:54] eric-burel commented on #2580
Mystery solved : this bug affect specifically dev dependencies, and Material UI is a dev dependency in the Vulcan app 🎉 Now we simply need to wait for a fix in Meteor, see linked issue

[2022-02-09 21:54] #2580 closed

[2022-07-21 00:12] GAURAV1-ui commented on #2256
Hey @eric-burel can I work on this issue?

[2022-07-21 00:13] GAURAV1-ui commented on #2436
Hey @eric-burel  can I work on this issue?

[2022-07-21 09:48] eric-burel commented on #2436
Hi, the Meteor version is deprecated so it's ok to contribute but it's better to work on Vulcan Next/ Vulcan NPM: https://vulcan-docs.vercel.app/